<!-- <div class="jumbotron jumbotron-fluid" style="background-color: azure;">
    <p>AQUI VA UN HEADER</p>
</div> -->

<header class="header-class">
    <div class="container center" >
        <form class="d-flex" (ngSubmit)="buscarPelicula(buscarTexto.value)">
        <input class="form-control me-2" type="search" placeholder="Buscar película" #buscarTexto>
        <button class="btn btn-warning" type="submit">Buscar</button>
      </form>
    </div>
    
</header>

<div class="container">
    <br>
    <app-galeria [peliculas]="cartelera|slice:0:6" titulo="Películas en Cartelera"></app-galeria>
    <app-galeria [peliculas]="populares|slice:0:6" titulo="Películas Populares"></app-galeria>
    <app-galeria [peliculas]="infantiles|slice:0:6" titulo="Películas Populares Infantiles"></app-galeria>

</div>

<br><br>
